<a href="https://colab.research.google.com/github/arturgmrs/Data-Science-Tutorials/blob/master/2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpando os dados

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/arturgmrs/imd_tec_002/master/datasets/videogame_sales.csv")
df

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [4]:
df.isnull().sum() #checando valores faltantes

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [5]:
df = df.fillna('*') #alterando os valores faltantes por *

In [13]:
df = pd.read_csv ("/content/DOB_Violations.csv")
df.isnull().sum()

ISN_DOB_BIS_VIOL            0
BORO                        0
BIN                        39
BLOCK                     155
LOT                       146
ISSUE_DATE                  0
VIOLATION_TYPE_CODE         0
VIOLATION_NUMBER            0
HOUSE_NUMBER                2
STREET                    210
DISPOSITION_DATE         6395
DISPOSITION_COMMENTS     6863
DEVICE_NUMBER            5918
DESCRIPTION             16761
ECB_NUMBER              21994
NUMBER                      1
VIOLATION_CATEGORY         54
VIOLATION_TYPE              1
dtype: int64

In [19]:
df["LOT"] = df["LOT"].fillna('*')
df.isnull().sum()

ISN_DOB_BIS_VIOL            0
BORO                        0
BIN                        39
BLOCK                     155
LOT                         0
ISSUE_DATE                  0
VIOLATION_TYPE_CODE         0
VIOLATION_NUMBER            0
HOUSE_NUMBER                2
STREET                    210
DISPOSITION_DATE         6395
DISPOSITION_COMMENTS     6863
DEVICE_NUMBER            5918
DESCRIPTION             16761
ECB_NUMBER              21994
NUMBER                      1
VIOLATION_CATEGORY         54
VIOLATION_TYPE              1
dtype: int64

In [25]:
df["BIN"] = df["BIN"].fillna(df["BIN"].mean())#alterando pelo valor mÃ©dio
df.isnull().sum()
df

       ISN_DOB_BIS_VIOL  ...                            VIOLATION_TYPE
0               1603651  ...                                E-ELEVATOR
1                781227  ...                            C-CONSTRUCTION
2               1101581  ...                                E-ELEVATOR
3                976367  ...                                E-ELEVATOR
4               1086581  ...         LL1081-LOCAL LAW 10/81 - ELEVATOR
...                 ...  ...                                       ...
23924            982029  ...                                E-ELEVATOR
23925            947591  ...                                E-ELEVATOR
23926           1040195  ...                                E-ELEVATOR
23927           2106597  ...  EVCAT1-ELEVATOR ANNUAL INSPECTION / TEST
23928           1459618  ...                                       NaN

[23929 rows x 18 columns]

In [31]:
df["DISPOSITION_DATE"] = df["DISPOSITION_DATE"].fillna(df["DISPOSITION_DATE"].interpolate()) #adicionar valores interpolados
df["LOT"] = df["LOT"].fillna('*')
df.isnull().sum()
df

       ISN_DOB_BIS_VIOL  ...                            VIOLATION_TYPE
0               1603651  ...                                E-ELEVATOR
1                781227  ...                            C-CONSTRUCTION
2               1101581  ...                                E-ELEVATOR
3                976367  ...                                E-ELEVATOR
4               1086581  ...         LL1081-LOCAL LAW 10/81 - ELEVATOR
...                 ...  ...                                       ...
23924            982029  ...                                E-ELEVATOR
23925            947591  ...                                E-ELEVATOR
23926           1040195  ...                                E-ELEVATOR
23927           2106597  ...  EVCAT1-ELEVATOR ANNUAL INSPECTION / TEST
23928           1459618  ...                                       NaN

[23929 rows x 18 columns]

In [36]:
df = df.dropna() #atenÃ§Ã£o, Ã© para excluir todos os dados
df

Empty DataFrame
Columns: [ISN_DOB_BIS_VIOL, BORO, BIN, BLOCK, LOT, ISSUE_DATE, VIOLATION_TYPE_CODE, VIOLATION_NUMBER, HOUSE_NUMBER, STREET, DISPOSITION_DATE, DISPOSITION_COMMENTS, DEVICE_NUMBER, DESCRIPTION, ECB_NUMBER, NUMBER, VIOLATION_CATEGORY, VIOLATION_TYPE]
Index: []

In [38]:
df.isnull

<bound method DataFrame.isnull of Empty DataFrame
Columns: [ISN_DOB_BIS_VIOL, BORO, BIN, BLOCK, LOT, ISSUE_DATE, VIOLATION_TYPE_CODE, VIOLATION_NUMBER, HOUSE_NUMBER, STREET, DISPOSITION_DATE, DISPOSITION_COMMENTS, DEVICE_NUMBER, DESCRIPTION, ECB_NUMBER, NUMBER, VIOLATION_CATEGORY, VIOLATION_TYPE]
Index: []>

In [ ]:
df = df.replace(['-','na'], np.nan) #substituindo ausentes por NaN